.App {
  text-align: center;
}


.InnerCircle {
  animation: InnerCircleSpin infinite 20 sec linear;
}

@keyframes InnerCircleSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .InnerCircle {
    animation: InnerCircleSpin infinite 20s linear;
  }
}

.OuterCircle {
  animation: OuterCircleSpin infinite 10 sec reverse;
}

@keyframes OuterCircleSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .OuterCircle {
    animation: OuterCircleSpin infinite 10s reverse;
  }
}


.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


