.entireSection {
    width: 100vw;
    height: 40vh;
}

.resumeSectionContainer {
    position: relative;
    top: 0.1vh;
    height: 39.9vh;
    width: 100vw;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .7s ease-in-out;
}

.resumeContainer {
    width: 34vh;
    height: 34vh;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .7s ease-in-out;
}

.resume {
    width: 30vh;
    height: 30vh;
    background-image: url(../resumeSection/resumePics/resume.png);
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all .5s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .7s ease-in-out;
}

.decor {
    width: 30vh;
    height: 30vh;
    background-image: url(../resumeSection/resumePics/decor.png);
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all .5s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .4s ease-in-out;
    transform: scale(0);
    cursor: pointer;
}

.resumeTrigger {
    position: absolute;
    width: 14vh;
    height: 18vh;
    z-index: 100;
    transition: all .7s ease-in-out;
    cursor: pointer;
}

.bottomPageTextStyle {
    font-size: 3vh;
    color: white;
    letter-spacing: 2.5px;
    font-Family: 'Helvetica-Light';
}

.leftTextContainer {
    position: absolute;
    left: 5vw;
    height: 39.9vh;
    width: 33vw;
    transition: all .7s ease-in-out;
    justify-content: flex-start; 
    display: flex;
}

.thanks {
    align-self: center;
    width: 31vw;
    transition: all .7s ease-in-out;
}

.resumeText {
    align-self: center;
    width: 31vw;
    transition: all .7s ease-in-out;
}

.rightTextContainer {
    position: absolute;
    right: 5vw;
    height: 39.9vh;
    width: 33vw;
    transition: all .7s ease-in-out;
    justify-content: flex-end; 
    display: flex;
}

.resumeTrigger:hover ~ .decor {
    transform: scale(1);
    animation: spinDecor 15s infinite linear;
    animation-delay: 0.45s;
    z-index: 1;
}

@keyframes spinDecor {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@media (max-width: 1543px) {
    .rightTextContainer {
        right: 3vw
    }
    .leftTextContainer {
        left: 3vw
    }
}

@media (max-width: 1350px) {
    .bottomPageTextStyle {
        font-size: 3vh;
    }
}

@media (max-width: 1200px) {
    .bottomPageTextStyle {
        font-size: 2.8vh;
    }
    .resumeContainer {
        width: 27vh;
        height: 27vh;
    }
    .resume {
        width: 23vh;
        height: 23vh;
    }
    .decor {
        width: 23vh;
        height: 23vh;
    }
    .resumeTrigger {
        width: 10vh;
        height: 13vh;
    }
}

@media (max-width: 940px) {
    .resumeContainer {
        width: 27vh;
        height: 27vh;
    }
    .resume {
        width: 23vh;
        height: 23vh;
    }
    .decor {
        width: 23vh;
        height: 23vh;
    }
    .resumeTrigger {
        width: 10vh;
        height: 13vh;
    }
    .rightTextContainer {
        right: 2.3vw
    }
    .leftTextContainer {
        left: 2.3vw
    }
}

@media (max-width: 911px) {
    .bottomPageTextStyle {
        font-size: 2.8vh;
    }
    .resumeContainer {
        width: 25vh;
        height: 25vh;
    }
    .resume {
        width: 21vh;
        height: 21vh;
    }
    .decor {
        width: 21vh;
        height: 21vh;
    }
    .resumeTrigger {
        width: 9vh;
        height: 12vh;
    }
}

@media (max-width: 799px) {
    .bottomPageTextStyle {
        font-size: 2.8vh;
    }
    .resumeContainer {
        width: 23vh;
        height: 23vh;
    }
    .resume {
        width: 19vh;
        height: 19vh;
    }
    .decor {
        width: 19vh;
        height: 19vh;
    }
    .resumeTrigger {
        width: 8vh;
        height: 11vh;
    }
}

@media (max-width: 710px) {
    .bottomPageTextStyle {
        font-size: 2.6vh;
    }
    .resumeContainer {
        width: 22vh;
        height: 22vh;
    }
    .resume {
        width: 18vh;
        height: 18vh;
    }
    .decor {
        width: 18vh;
        height: 18vh;
    }
    .resumeTrigger {
        width: 7.5vh;
        height: 10.5vh;
    }
}

@media (max-width: 615px) {
    .bottomPageTextStyle {
        font-size: 2.4vh;
    }
}

@media (max-width: 573px) {
    .bottomPageTextStyle {
        font-size: 2.3vh;
    }
    .resumeContainer {
        width: 18vh;
        height: 18vh;
    }
    .resume {
        width: 14vh;
        height: 14vh;
    }
    .decor {
        width: 14vh;
        height: 14vh;
    }
    .resumeTrigger {
        width: 6vh;
        height: 8vh;
    }
}

@media (max-width: 460px) {
    .entireSection {
        height: 25vh;
    }
    .resumeSectionContainer {
        height: 24.9vh;
        width: 100vw;
    }
    .bottomPageTextStyle {
        font-size: 2.1vh;
    }
    .resumeContainer {
        width: 18vh;
        height: 18vh;
    }
    .resume {
        width: 14vh;
        height: 14vh;
    }
    .decor {
        width: 14vh;
        height: 14vh;
    }
    .resumeTrigger {
        width: 7vh;
        height: 9vh;
    }
    .rightTextContainer {
        height: 24.9vh;
    }
    .leftTextContainer {
        height: 24.9vh;
    }
}