.textStyle {  
    color:white;
    font-size: 4vh;
    letter-spacing: 2.5px;
    font-Family: 'HelveticaNeue-Light';
    text-Align: left;
    position: relative;
    left: 130px;
}
.textPos1 {
    top: 11vh;
}
.textPos2 {
    top: 12vh;
}
.textPos3 {
    top: 13vh;
}
.textPos4 {
    top: 56vh;
}
.textPos5 {
    top: 60vh;
}
.textPos6 {
    top: 64vh;
}

@media (max-width: 950px) {
    .textStyle {
        font-size: 3vh;
    }
    .textPos1 {
        left: 40px;
    }
    .textPos2 {
        left: 40px;
    }
    .textPos3 {
        left: 40px;
    }
    .textPos4 {
        left: 40px;
    }
    .textPos5 {
        left: 40px;
    }
    .textPos6 {
        left: 40px;
    }
}

@media (max-width: 550px) {
    .textStyle {
        font-size: 2.5vh;
    }
    .textPos1 {
        top: 6.5vh;
        left: 30px;
    }
    .textPos2 {
        top: 7.5vh;
        left: 30px;
    }
    .textPos3 {
        top: 8.5vh;
        left: 30px;
    }
    .textPos4 {
        top: 57.5vh;
        left: 30px;
    }
    .textPos5 {
        top: 61.5vh;
        left: 30px;
    }
    .textPos6 {
        top: 65.5vh;
        left: 30px;
    }
}