.ClickIcons {
    height: 50px;
}
.MailContainer {
    /* height: 4vh; */
    height: 28px;
}
.LIContainer {
    /* height: 5.5vh; */
    height: 38.5px;
}
.GHContainer {
    /* height: 5.5vh; */
    height: 38.5px;
}