/* default: text style and positionings */
.textStyle {  
    color:transparent;
    font-size: 4vh;
    letter-spacing: 2.5px;
    font-Family: 'Helvetica';
    font-weight: 100;
    text-Align: left;
    left: 130px;
    text-decoration: none;
    position: absolute;
}
.textPos1 {
    top: 8vh;
    transition: all .3s ease-in-out;
}
.textPos2 {
    top: 13.5vh;
    transition: all .3s ease-in-out;
}
.textPos3 {
    top: 19vh;
    transition: all .3s ease-in-out;
}
.textPos4 {
    top: 67vh;
    transition: all .3s ease-in-out;
}
.textPos5 {
    top: 76vh;
    transition: all .3s ease-in-out;
}
.textPos6 {
    top: 85vh;
    transition: all .3s ease-in-out;
}

/* break-point 2: text style and positionings */
@media (max-width: 950px) {
    .textStyle {
        font-size: 3vh;
    }
    .textPos1 {
        top: 11vh;
        left: 40px;
    }
    .textPos2 {
        top:15vh;
        left: 40px;
    }
    .textPos3 {
        top: 19vh;
        left: 40px;
    }
    .textPos4 {
        top:70vh;
        left: 40px;
    }
    .textPos5 {
        top:77vh;
        left: 40px;
    }
    .textPos6 {
        top:84vh;
        left: 40px;
    }
}

/* break-point 3: text style and positionings */
@media (max-width: 602px) {
    .textStyle {
        font-size: 2.5vh;
    }
    .textPos1 {
        top: 5.8vh;
        left: 30px;
    }
    .textPos2 {
        top: 9.5vh;
        left: 30px;
    }
    .textPos3 {
        top: 13.2vh;
        left: 30px;
    }
    .textPos4 {
        top:67vh;
        left: 30px;
    }
    .textPos5 {
        top:74vh;
        left: 30px;
    }
    .textPos6 {
        top:81vh;
        left: 30px;
    }
}
@media (max-width: 1200px) and (min-height: 875px) { 
    .textStyle {
        font-size: 2.5vh;
    }
    .textPos1 {
        top: 8.8vh;
        left: 60px;
    }
    .textPos2 {
        top: 12.5vh;
        left: 60px;
    }
    .textPos3 {
        top: 16.2vh;
        left: 60px;
    }
    .textPos4 {
        top:67vh;
        left: 60px;
    }
    .textPos5 {
        top:74vh;
        left: 60px;
    }
    .textPos6 {
        top:81vh;
        left: 60px;
    }
}

@media (max-height: 550px) { 
    .textStyle {  
        font-size: 24px;
        letter-spacing: 2.5px;
        left: 130px;
    }
    .textPos1 {
        top: 45px;
    }
    .textPos2 {
        top: 80px;
    }
    .textPos3 {
        top: 115px;
    }
    .textPos4 {
        top: 360px;
    }
    .textPos5 {
        top: 415px;
    }
    .textPos6 {
        top: 470px;
    }
}