/* default: container and circle style */
.CircleContainer {
    position: absolute;
    align-items: center; 
    align-content: center;
    display: flex;
    height: 100vh;
    top: -2vh;
    right: 18vw;
    max-width: 100%;
    overflow-x: hidden;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.CircleStyle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 70vh;
    width: 70vh;
    overflow: hidden;
}

/* default: circle size */
.OuterCircleDim {
    height: 64.5vh;
    width: 64.5vh;
    overflow: hidden;
}
.InnerCircleDim {
    height: 50vh;
    width: 50vh;
    overflow: hidden;
}

/* breakpoint 1: circle resizing */
@media (max-width: 1150px) { 
    .CircleContainer {
        width: 580px;
        left: 25vw;
        right: 25vw;
    } 
}

/* breakpoint 2: circle resizing  */
@media (max-width: 950px) { 
    .CircleContainer {
        width: 450px;
        top: -4vh; 
        left: 25vw;
        right: 25vw;
    } 
    .OuterCircleDim {
        height: 50vh;
        width: 50vh;
    }
    .InnerCircleDim {
        height: 40vh;
        width: 40vh;
    }
}

/* breakpoint 3: circle resizing  */
@media (max-width: 602px) { 
    .CircleContainer {
        width: 75vw; 
        top: -8vh; 
        left: 12vw;
    } 
    .OuterCircleDim {
        height: 75vw;
        width: 75vw;
    }
    .InnerCircleDim {
        height: 60vw;
        width: 60vw;
    }
}

/* breakpoint 4: circle resizing  */
@media (max-width: 602px) and (max-height: 710px) { 
    .CircleContainer {
        height: 50vh;
        top: 17vh; 
        left: 8vw;
        right: 8vw;
    } 
    .OuterCircleDim {
        height: 50vh;
        width: 50vh;
    }
    .InnerCircleDim {
        height: 40vh;
        width: 40vh;
    }
}

/* breakpoint 5: circle resizing  */
@media (max-width: 1234px) and (min-height: 875px) { 
  .CircleContainer {
    right: 9vw;
  }   
}

/* breakpoint 6: circle resizing  */
@media (max-width: 1150px) and (min-height: 875px) { 
  .CircleContainer {
    width: 495px;
    top: -4vh; 
    left: 28vw;
    /* right: 25vw; */
  } 
  .OuterCircleDim {
      height: 50vh;
      width: 50vh;
  }
  .InnerCircleDim {
      height: 40vh;
      width: 40vh;
  }
}

/* breakpoint 7: circle resizing  */
@media (max-width: 950px) and (min-height: 875px) { 
  .CircleContainer {
    width: 495px;
    top: -4vh; 
    left: 23vw;
  } 
  .OuterCircleDim {
      height: 50vh;
      width: 50vh;
  }
  .InnerCircleDim {
      height: 40vh;
      width: 40vh;
  }
}

/* breakpoint 8: circle resizing  */
@media (max-width: 890px) and (min-height: 875px) { 
  .CircleContainer {
    height: 50vh;
    top: 19vh; 
    left: 20vw;
  } 
  .OuterCircleDim {
      height: 50vh;
      width: 50vh;
  }
  .InnerCircleDim {
      height: 40vh;
      width: 40vh;
  }
}

/* breakpoint 9: circle resizing  */
@media (max-width: 730px) and (min-height: 875px) { 
  .CircleContainer {
    width: 65vw; 
    top: 20vh; 
    left: 18vw;
  } 
  .OuterCircleDim {
      height: 65vw;
      width: 65vw;
  }
  .InnerCircleDim {
      height: 55vw;
      width: 55vw;
  }
}

/* breakpoint 10: circle resizing  */
@media (max-width: 1200px) and (min-height: 875px) { 
  .CircleContainer {
    width: 55vw;
    left: 23vw;
    /* top: -8vh; */
  } 
  .OuterCircleDim {
      height: 55vw;
      width: 55vw;
  }
  .InnerCircleDim {
      height: 45vw;
      width: 45vw;
  }
}


/* breakpoint 11: circle resizing  */
@media (max-width: 601px) and (max-height: 874px) { 
  .CircleContainer {
    width: 65vw; 
    left: 17vw;
  } 
  .OuterCircleDim {
    height: 65vw;
    width: 65vw;
  }
  .InnerCircleDim {
      height: 55vw;
      width: 55vw;
  }
}

/* breakpoint 12: circle resizing  */
@media (max-width: 601px) and (min-height: 876px) { 
  .CircleContainer {
    width: 65vw; 
    left: 15vw;
  } 
  .OuterCircleDim {
    height: 65vw;
    width: 65vw;
  }
  .InnerCircleDim {
      height: 55vw;
      width: 55vw;
  }
}


@media (prefers-reduced-motion: no-preference) {
    .speedUpOuter:hover {
      animation: OuterCircleSpin infinite 0.25s reverse;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .speedUpInner:hover {
      animation: OuterCircleSpin infinite 1s reverse;
    }
  }

/* animates inner circle */
@keyframes InnerCircleSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .InnerCircleRotate {
    animation: InnerCircleSpin infinite 6s linear;
    /* animation-delay: 10s; */
  }
}

/* animates outer circle */
@keyframes OuterCircleSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .OuterCircleRotate {
    animation: OuterCircleSpin infinite 10s reverse;
  }
}
