.innerContainer3 {
    position: relative;
    top: 0.1vh;
    height: 22vh;
    width: 100vw;
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.bulbContainer {
    position: absolute;
    height: 22vh;
    width: 13vh;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    transition: all .5s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}
.bulbPos1 {
    left: 28vw;
}

.brokenBulbPos {    
    right: 28vw;
}
.bulb1 {
    background-image: url(../screen3/Screen3Imgs/bulb1.png);
    height: 22vh;
    width: 13vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    transform-origin: top;
    transition: all .5s ease-in-out;
}
.bulb2 {
    background-image: url(../screen3/Screen3Imgs/bulb2.png);
    height: 22vh;
    width: 13vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    transform-origin: top;
    transition: all .5s ease-in-out;
}
.brokenBulb {
    background-image: url(../screen3/Screen3Imgs/brokenBulb.png);
    height: 22vh;
    width: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    transform-origin: top;
    transition: all .5s ease-in-out;
}
.placeHolderText1 {
    position: absolute;
    font-Family: 'HelveticaNeue-Light';
    font-size: 13vh;
    letter-spacing: 0.3vh;
    color: rgba(0, 0, 0, 0.413);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 40vw;
    display: flex;
    left: 30vw;
    top: 42.5vh;
    transition: all .5s ease-in-out;
}

.bulb1:hover {
    background-image: url(../screen3/Screen3Imgs/bulbLit1.png);
    -webkit-animation: slowWiggle 3s ease-in-out infinite;
    animation: slowWiggle 3s ease-in-out infinite;
}

.bulb2:hover {
    background-image: url(../screen3/Screen3Imgs/bulbLit2.png);
    -webkit-animation: slowWiggle 3s ease-in-out infinite;
    animation: slowWiggle 3s ease-in-out infinite;
}

.brokenBulb:hover {
    -webkit-animation: wiggle 1.5s ease;
    animation: wiggle 1.5s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1; 
    content:url(../screen3/Screen3Imgs/bulbLit2.png) url(../screen3/Screen3Imgs/bulbLit1.png);  
 }

 .scrutinyContainer {
    background-color: blueviolet;
    /* width: 130vh; */
    width: 75vw;
    height: 63vh;
    position: absolute;
    top: 26vh;
    opacity: 0;
    transition: all .5s ease-in-out;
 }

 .siteContainer {
    background-color: green;
    /* width: 130vh; */
    width: 75vw;
    height: 63vh;
    position: absolute;
    top: 26vh;
    opacity: 0;
    transition: all .5s ease-in-out;
 }

.bulbPos1:hover ~ .scrutinyContainer {
    opacity: 1;
}
.bulbPos1:hover ~ .placeHolderText1 {
    opacity: 0;
}

.bulbPos2:hover ~ .siteContainer {
    opacity: 1;
}
.bulbPos2:hover ~ .placeHolderText1 {
    opacity: 0;
}

@keyframes wiggle {
    0% 
    {
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(7deg);
    }
    50% 
    {
        transform: rotate(-7deg);
    }
    75%
    {
        transform: rotate(7deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

@keyframes slowWiggle {
    0% 
    {
        transform: rotate(0deg);
    }
    25%
    {
        transform: rotate(4deg);
    }
    50%
    {
        transform: rotate(-4deg);
    }
    75%
    {
        transform: rotate(4deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

@media (max-width: 1300px) { 
    .scrutinyContainer {
        width: 75vw;
    }
    .siteContainer {
        width: 75vw;
    }
}

@media (max-width: 1120px) { 
    .bulbPos1 {
        left: 23vw;
    }
    .brokenBulbPos {
        right: 23vw;
    }
    .placeHolderText1 {
        font-size: 12vh;
        letter-spacing: 0.3vh;
    }
    .scrutinyContainer {
        width: 75vw;
    }
    .siteContainer {
        width: 75vw;
    }
}

@media (max-width: 950px) { 
    .bulbPos1 {
        left: 15vw;
    }
    .brokenBulbPos {
        right: 15vw;
    }
    .placeHolderText1 {
        font-size: 10vh;
        letter-spacing: 0.3vh;
    }
    .scrutinyContainer {
        width: 75vw;
    }
    .siteContainer {
        width: 75vw;
    }
}

@media (max-width: 602px) { 
    .bulbPos1 {
        left: 6vw;
    }
    .brokenBulbPos {
        right: 6vw;
    }
    .placeHolderText1 {
        font-size: 7.5vh;
        letter-spacing: 0.2vh;
    }
    .scrutinyContainer {
        width: 85vw;
    }
    .siteContainer {
        width: 85vw;
    }
}