

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "HelveticaNeue-Light", 'Courier New',
    monospace;
}

/* @font-face {
  font-family: myFirstFont;
  src: url(patrickhand-regular-webfont.woff);
}
@font-face {
  font-family: mali-regular;
  src: url(mali-regular-webfont.woff);
  src: url(mali-regular-webfont.woff2);
} */
