.dropdownContainer {
    position: absolute;
    background-color: #393939;
    display: inline-block;
    height: 6.25vh; 
    width: 20vh;
    justify-content: center;
    align-items: center;
    position:fixed;
    right:130px;
    top:-3vh;
    border-radius: 3vh;
    z-index: 999;
}

.submenu {
    display: block;
    position: absolute;
    overflow: hidden;
    max-height:0vh;
    transition: max-height 0.5s ease-in; 
    color: white;
    cursor: pointer;
    background-color: #393939;
    text-decoration: none;
    font-size: 2.3vh;
    font-Family: 'Helvetica';
    font-weight: 100;
    text-Align: left;
    width: 20vh;
    height: 23vh;
    top: 0vh;
    border-radius: 3vh;
}

.submenu li {
    color: white;
    cursor: pointer;
    left: 1vh;
    width: 20vh;
    height: 5vh;
    display: block;
    text-decoration: none;
}

.textContainer {
    position: relative;
    justify-content: center;
    align-content: center;
    display: flex;
}

.selectionStyle {
    width: 14vh;
    height: 4.9vh;
    padding: 0.75vh 0;
    position: relative;
    left: 3.4vh;
    text-decoration: none;
    font-size: 2.6vh;
    letter-spacing: 0.15vh;
    font-Family: 'Helvetica';
    font-weight: 100;
    text-align: left;
    color: white;
}

.dropdownContainer:hover .submenu {
    max-height: 25vh;
    background-color: #4a4a4a;
}

.dropdownIcon {
    background-image: url(../src/DropdownImgs/downArrow.png);
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 6vh;
  }

.dropdownContainer:hover .dropdownIcon { 
    background-color: #4a4a4a; 
    background-image: none; 
    border-radius: 3vh;
}

.submenu li:hover {
    background-color: rgb(104, 104, 104); 
    text-align: center;
}

@media (max-width: 950px) {
    .dropdownContainer {
        right: 40px;
    }
}

@media (max-width: 602px) {
    .dropdownContainer {
        width: 15vh;
        right: 25px;
    }
    .submenu {
        width: 15vh;
    }
    .selectionStyle  {
        left: 2vh;
        font-size: 2.45vh;
        padding: 1vh 0;
    }
}

@media (max-height: 550px) {
    .dropdownContainer {
        height: 34.5px; 
        width: 110px;
        right: 130px;
        top: -16.7px;
        border-radius: 20px;
    }
    
    .submenu {
        max-height: 0px;
        font-size: 10px;
        width: 110px;
        height: 125px;
        top: 0px;
        border-radius: 20px;
    }
    
    .submenu li {
        left: 3px;
        width: 110px;
        height: 26.75px;
    }
    
    .selectionStyle {
        width: 90px;
        height: 20px;
        padding: 6px 0px;
        left: 18px;
        font-size: 15px;
        letter-spacing: 0.5px;
    }
    
    .dropdownContainer:hover .submenu {
        max-height: 180px;
    }
    
    .dropdownIcon {
        background-image: url(../src/DropdownImgs/downArrow.png);
        height: 34px;
      }
    
    .dropdownContainer:hover .dropdownIcon { 
        border-radius: 20px;
    }
}

@media (max-height: 480px) {
    .dropdownContainer {
        top: -16.7px;
    }
    
    .submenu {
        top: 5px;
    }
}

@media (max-height: 400px) {
    .dropdownContainer {
        top: -16.7px;
    }
    
    .submenu {
        top: 10px;
    }
}
